    body {
        background-color: rgb(53, 59, 67);
    }
    
    h1 {
        font-size: 100px;
        font-style: italic;
        text-align: center;
        color: aqua;
        text-shadow: 0 0 3px #301212, 0 0 5px #040406
    }
    
    .col-md {
        font-family: cursive, Arial, sans-serif;
        color: aqua;
    }
    
    img {
        margin-top: 10%;
        margin-left: 25%;
        width: 50%;
    }